<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch - Excluir comentário</title>
</head>
<body>
    {% include 'menu.html' %}

    {% block content %}
        <h2 class="topico" style="margin-top: 7%">Excluir Comentário</h2>
        <p style="text-align: center">Deseja realmente excluir o seguinte comentário?</p>
        <p style="text-align: center; margin: 0% 10%">{{ comentario_texto }}</p>
        <form method="post" style="margin-bottom:7%;">
        {% csrf_token %}
        <button class="btn-score-watch" type="submit">Sim, Excluir</button>
        <p>
            <a style="text-decoration:none; color:#ffffff" href="{% url 'pagina_filme' url_slug=url_slug %}">Cancelar</a>
        </p>
        </form>
    {% endblock %}

    {% include 'footer.html' %}

</body>
</html>
