<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch - {{ serie.titulo }}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div style="background: radial-gradient(at 60% 20px, transparent 30%, rgba(21, 22, 22, 0.8) 55%, rgb(21, 22, 22) 100%) 100% 50% / cover, linear-gradient(transparent 80%, rgb(21, 22, 22) 100%), url(https://image.tmdb.org/t/p/original/{{ serie.titulo.backdropPath }}) no-repeat;
    background-position: 100% 50%; background-size: cover; margin-top: -60px;">
    
        <div class="bg-filtro">
            <div class="container-filme-serie" style="margin-top: 60px;">
                <div class="banner-titulos">
                    <img src="https://image.tmdb.org/t/p/original/{{ serie.titulo.posterPath }}" alt="{{ serie.titulo }}">
                </div>
                <div class="informacoes-titulos">
                    <h1>{{ serie.titulo.titulo }}</h1>
                    <p>{{ serie.titulo.sinopse }}</p>
                    <p><i class="fa-solid fa-film"></i> Gênero: 
                        {% for genero in generos %}
                            {{ genero.nome_genero }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><i class="fa-regular fa-clock"></i> Qtd. temporadas: {{ serie.qtd_temporadas }}</p>
                    <p><i class="fa-regular fa-calendar"></i> Data de Lançamento: {{ serie.titulo.dtLancamento }}</p>
                    {% if serie.criador %}
                        <p><i class="fa-solid fa-video"></i> Criador: {{ serie.criador }}</p>
                    {% endif %}
                    <div class="barra-progresso">
                        <p>Nota média: {{ avaliacao_xdez|floatformat:'0:2' }}%</p>
                        <div class="progresso" style="width: {{ avaliacao_xdez|floatformat:'0:2' }}%;"></div>
                    </div>
                </div>
            </div>
            <div class="elenco">
                <p style="display: block;"><i class="fa-solid fa-users"></i> Elenco:
                    {% for ator in elenco %}
                        {{ ator.elenco }} {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>  

    {% include 'footer.html' %}
</body>
</html>
