<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch - {{ filme.titulo }}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div style="background: radial-gradient(at 60% 20px, transparent 30%, rgba(21, 22, 22, 0.8) 55%, rgb(21, 22, 22) 100%) 100% 50% / cover, linear-gradient(transparent 80%, rgb(21, 22, 22) 100%), url(https://image.tmdb.org/t/p/original/{{ filme.titulo.backdropPath }}) no-repeat;
    background-position: 100% 50%;">
    
        <div class="bg-filtro">
            <div class="container-filme-serie">
                <div class="banner-titulos">
                    <img src="https://image.tmdb.org/t/p/original/{{ filme.titulo.posterPath }}" alt="{{ filme.titulo }}">
                </div>
                <div class="informacoes-titulos">
                    <h1>{{ filme.titulo.titulo }}</h1>
                    <p>{{ filme.titulo.sinopse }}</p>
                    <p><i class="fa-solid fa-film"></i> Gênero: 
                        {% for genero in generos %}
                            {{ genero.nome_genero }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><i class="fa-regular fa-clock"></i> Duração: {{ filme.duracao }}</p>
                    <p><i class="fa-regular fa-calendar"></i> Data de Lançamento: {{ filme.titulo.dtLancamento }}</p>
                    <p><i class="fa-solid fa-video"></i> Diretor: {{ filme.diretor }}</p>
                    <div class="barra-progresso">
                        <p>Nota média: {{ avaliacao_xdez|floatformat:'0:2' }}%</p>
                        <div class="progresso" style="width: {{ avaliacao_xdez|floatformat:'0:2' }}%;">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>  

    {% include 'footer.html' %}

</body>
</html>
