<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch :: Perfil</title>
</head>
<body>
    {% include 'menu.html' %}
    
    <div class="painel-container" style="margin-top:5%">
        <div class="painel" style="text-align: left; height:200px">
            <div class="painel-header">Informações do usuário</div>
            <div class="painel-body">
                <p class="perfil-p"><strong>Nome de Usuário:</strong> {{ username }}</p>
                <p class="perfil-p"><strong>Email:</strong> {{ email }}</p>
                <p class="perfil-p"><strong>Nome Completo:</strong> {{ nome_completo }}</p>
                <a href="{% url 'editar-perfil' %}"><p class="perfil-p">Editar perfil</p></a>
            </div>
        </div>
    </div>
    <div style="display: block; margin-top: 30px;"><h1 class="topico">Seus comentários</h1></div>
    <div>
        {% if comentarios_recentes %}
            <ul class="comentarios-list">
                {% for comentario in comentarios_recentes %}
                    <li class="comentario-item">
                        <div class="comentario-info">
                            <strong>
                                {{ comentario.usuario }}
                            </strong>
                            <span class="data">{{ comentario.data_comentario }}</span>
                        </div>
                        <p class="texto">{{ comentario.texto }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p style="text-align:center">Nenhum comentário encontrado.</p><br><br><br>
        {% endif %}
    </div>

    


    {% include 'footer.html' %}
</body>
</html>
