<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch :: Séries</title>
</head>
<body>
  {% include 'menu.html' %}

    <div class="painel-titulos">
        <h1 class="titulos-titulo">Séries </h1>  
        {% for serie in series %}
        <a href="{% url 'pagina_serie' url_slug=serie.url_slug %}">
            <div class="container-titulos">
            <img class="image" src="{{ serie.imagem_capa.url }}" alt="{{ serie.titulo }} - Capa">
            <div class="overlay">
                <p>{{ serie.titulo }}</p>
            </div>
            </div>  
        </a>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
