* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #000000 10%, #0a1852 60%, #000000 90%, #0a1852 100%);
    font-family: "Poppins";
    color: #fff;
}

p {
    color: #ffffff;
    font-family: "Poppins";
}

.errorlist {
    color: #ffffff!important;
}


/*NAV BAR*/

.navbar-brand img {
    height: 30px;
}

.navbar-dark {
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
    position: fixed;
    font-family: "Poppins"!important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1)!important;
}

.dropdown-menu {
    /* box-shadow: 0px 0px 3px 1px #111; */
    background-color: rgba(0, 0, 0, .9)!important;
    backdrop-filter: blur(1px);
}

.dropdown-item {
    color: #fff!important
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #0068b4!important;
    transition: .4s;
}


/*FOOTER*/

.score-watch-footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    backdrop-filter: blur(5px);
    padding: 5px;
    font-family: "Poppins"!important;
}

.footer-brand img {
    width: 100%;
}


/* CADASTRO */

.container-cadastro-login {
    margin: 30px auto;
    max-width: 340px;
    background-color: #0068b4;
    border-radius: 15px;
    overflow: hidden;
    font-family: "Poppins"!important;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

form .head {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form .head span {
    font-size: 1.6rem;
    font-weight: bolder;
    color: #fff;
}

form .head p {
    font-size: 1.1rem;
    color: #7C6666;
}

form .inputs input {
    margin: 5px 0px;
    outline: none;
    padding: 8px 15px;
    width: 100%;
    height: 40px;
    font-weight: 200;
    border-radius: 10px;
    border: none;
}

form button {
    background-color: #203a77;
    color: white;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    overflow: hidden;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

form button:hover {
    background-color: #122f72;
}

.form-footer {
    background-color: #fff;
    padding: 16px;
    font-size: 1rem;
    text-align: center;
}

.form-footer a {
    font-weight: bolder;
    color: #203a77;
    transition: all 3s ease-in-out;
}

.form-footer a:hover {
    color: #203a77;
}


/* PAINEL */

.painel-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.painel {
    width: 500px;
    background-color: rgba(0, 104, 180, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    color: #ffffff;
}

.painel-header {
    font-size: 20px!important;
    color: #fff;
    font-weight: bold;
}

.painel-body {
    padding: 5px;
}

.perfil-p {
    margin: 0px;
    padding: 2px;
    font-weight: bold;
    color: #ffffff;
}


/* TITULOS */

.container-titulos {
    margin: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.container-titulos:hover .overlay {
    opacity: 1;
    transform: scale(1.05);
    transition: .4s;
}

.container-titulos:hover .image {
    transform: scale(1.05);
    transition: .4s;
    border: 2px solid #22abfa;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay p {
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins"!important;
}

.image {
    border-radius: 10px;
    width: 180px;
    height: auto;
    box-sizing: border-box;
}

.painel-titulos {
    margin: auto;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-family: "Poppins"!important;
    color: #fff;
}

.ver-mais-titulos {
    color: #22abfa;
    text-decoration: none!important;
    font-size: 16px;
}

.ver-mais-titulos:hover {
    color: #0068b4;
    transition: .4s;
    margin-left: 3px;
}

.titulos-titulo {
    font-size: 30px;
    margin-left: 4%;
    text-align: left;
}


/* CARROSSEL */

.carousel-item a {
    text-decoration: none;
    color: #fff;
}

.carousel-item a:hover {
    text-decoration: none;
    color: #fff;
}

.carousel-caption {
    right: 10%!important;
    left: 55%!important;
    font-family: "Poppins"!important;
}

.carousel-caption h5 {
    font-size: 30px!important;
}

.img-carrossel {
    width: 50%!important;
    border-radius: 10px!important;
    margin: 4%;
    box-shadow: 5px 5px #22abfa;
}


/* PÁGINA DOS FILMES E SÉRIES */

.container-filme-serie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.banner-titulos img {
    border-radius: 10px;
    width: 250px;
    height: auto;
    box-sizing: border-box;
}

.informacoes-titulos {
    font-family: "Poppins"!important;
    color: #ffffff;
    flex-grow: 1;
    padding-left: 20px;
}

.bg-titulo {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    /*     background-attachment: fixed!important; */
}

.bg-filtro {
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    padding: 4%;
}

@media screen and (max-width: 600px) {
    .image {
        width: 130px;
    }
    .img-carrossel {
        width: 100%!important;
        box-shadow: none;
        margin: 0;
        border-radius: 0px!important;
    }
    .container-filme-serie {
        flex-direction: column;
        align-items: flex-start;
    }
    .informacoes-titulos {
        padding-left: 0;
        padding-top: 20px;
    }
}


/*COMENTÁRIOS E AVALIAÇÕES*/

.comentarios-list {
    list-style: none;
    padding: 0;
}

.comentario-item {
    box-shadow: 5px 5px #22abfa;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 80%;
    margin: 10px auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #000000;
}

.comentario-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.data {
    color: #777;
    font-size: 14px;
}

.texto {
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
}

.topico {
    color: #fff;
    font-family: "Poppins"!important;
    text-align: center;
}

#id_classificacao {
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: block;
}

#id_texto {
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: block;
    height: 100px;
    box-shadow: 5px 5px #22abfa;
    width: 70%;
    margin: auto;
}

.btn-score-watch {
    background: #22abfa;
    width: 150px;
    margin: 10px;
}

.barra-progresso {
    border: 1px solid #fff;
    width: 50%;
    height: 25px;
    background-color: #0A1852;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.progresso {
    height: 100%;
    background-color: #22abfa;
    transition: width 0.3s ease;
}

.barra-progresso p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.p-aval-e-coments {
    text-align: center;
    color: #ffffff;
    font-family: "Poppins"!important;
}

.comentarios-e-avaliacoes {
    padding: 4%;
    background: linear-gradient(45deg, #000000 30%, #0a1852 60%, #000000 90%, #0a1852 100%);
}

.overlay-pag-titulos {
    position: relative;
}

.overlay-pag-titulos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.7) 100%);
}

.overlay-pag-titulos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}